:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
// #root {
//     width: 100%;
//     height: auto;
//     min-height: 100vh;
//     background-color: linear-gradient(
//         250deg,
//         rgba(91, 91, 91),
//         rgba(49, 49, 49)
//     );
// }
