.topics {
    padding: 10px 20px;
    background-color: #c4e4ff;
    height: 100vh;
    .new-topic {
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 3px 1px black;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .list {
        margin: 10px 20px;
        li {
            margin: 15px 0px;
            &:hover {
                cursor: pointer;
                background-color: #3c5e7c;
                color: whitesmoke;
                margin: 0px 10px;
                a {
                    text-decoration: none;
                    display: flex;
                    padding: 7px 10px;
                }
            }
        }
    }
}

.posts {
    padding: 10px 0px;
    background-color: #579fdd;
    h1.title {
        text-align: center;
    }
    .list {
        .card {
            background-color: #4f8ec6;
            margin: 15px 20px;
            padding: 10px 20px;
        }
    }
}

.postsTopic {
    padding: 10px 0px;
    background-color: #579fdd;
    height: 100vh;
    h1.title {
        text-align: center;
    }
    .list {
        .card {
            background-color: #4f8ec6;
            margin: 15px 20px;
            padding: 10px 20px;
        }
    }
}

.profile {
    padding: 10px 20px;
    background-color: #c4e4ff;
    height: auto;
    .profile-photo-change-icon {
        color: lightgray;
        width: 75px;
        height: 75px;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}
